@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    font-family: Poppins;
}
/* navbar */
.navbar {
    background-color: #086099 !important;
}
.nav-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}
.nav-link:hover {
    color: white;
}
.navbar-toggler-icon {
    color: white;
}
.grocery-img {
    width: 60%;
    margin: 1rem auto;
}
.price {
    position: absolute;
    right: 0;
    margin-right: 1rem;
}
/* custom */
#logo {
    max-height: 60px;
}
.btn-primary {
    color: #fff;
    background-color: #edaf06;
    border-color: #edaf06;
    transition: 0.25s;
}
.btn-primary:hover {
    background-color: #086099;
    opacity: 0.6;
}
#search {
    border-radius: 15px !important;
    padding: 2px 15px !important;
    border-width: 0;
}
#slide {
    width: 100%;
    height: 345px;
    background: url('../images/slide.jpg') no-repeat center top;
    background-size: cover;
    margin-bottom: 40px;
    margin-bottom: -40px;
}
.category-list {
    padding-top: 110px;
    margin-bottom: -80px;
}
#pre-footer {
    margin: 120px auto 0;
    padding: 40px 0;
    background: #f3f3f3;
}
footer {
    color: white;
    background-color: black;
    padding: 10px 0;
}
.list {
    margin: 0;
    padding-left: 0;
}
.list ul {
    padding-left: 0;
}
.list li{
    list-style: none;
}
.list li ul.headlist li {
    text-shadow: 0px 0px 1px black;
}
.list li ul li {
    display: inline-block;
    width: 100px;
}
.list li ul li:nth-child(1) {
    width: 200px;
}
.fa-minus, .fa-plus {
    cursor: pointer;
}
.list-total {
    margin-left: 40px;
    text-shadow: 0px 0px 1px black;
}
.modal-dialog {
    width: 90%;
    max-width: 800px;
}
@media screen and (max-width: 768px) {
    .list li ul li {
        display: inline-block;
        width: 80px;
        line-height: 1.2;
    }
    .list li ul li:nth-child(1) {
        width: 140px;
    }
}